// i[class^="vm-icon-"] {
//     font-family: "VMCustomFont";
//     -webkit-font-smoothing: antialiased;
//     display: inline-block;
//     font-style: normal;
//     font-variant: normal;
//     text-rendering: auto;
//     line-height: 1;
//     &:before{
//         display: inline-block;
//     }
//     &.block{
//         display: block;
//     }
// }


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}



$space: 16px;
.padding-gutter{ padding: 12px }
.padding-gutter-x{ padding: 0 12px }
.margin-gutter-xn{ margin: 0 -12px}

.padding-s{ padding: $space}
.padding-m{ padding: $space * 2}
.padding-l{ padding: $space * 3}
