// Opacity


@each $opacity-name, $opacity-value in $opacities {
    @include media-query($opacity-name) {
        .opacity-#{$opacity-name}{ opacity: #{$opacity-value}; }
        .hover-opacity-#{$opacity-name}:hover:not(.active){ opacity: #{$opacity-value}; }
    }
}

// @for $i from 0 through $opacity {
//     $c: $i;
//     .opacity-#{$i}{ opacity: ($c / 10); }
// }

//
// @each $opacity-num, $opacity-val in $opacities {
//
//   .opacity-#{$opacity-num} {
//     opacity: $opacity-val;
//   }
//
// }
//
// .opacity-none,.opacity-0,
// .hover-opacity-none:hover,.hover-opacity-0:hover{
//     opacity: 1;
// }
//
// // Hint - Can be used in conjuction with 'hover-unmute'
//
// .muted {
//   opacity: $muted-val;
// }
//
//
// @include generate-breakpoint-prefixes {
//
//   @each $opacity-num, $opacity-val in $opacities {
//     &opacity-#{$opacity-num} { opacity: $opacity-val; }
//   }
//   &muted { opacity: $muted-val; }
//
// }
