// Rotate

.rotateCenter { transform-origin: center; }
.rotateTop { transform-origin: top; }

.rotateTopLeft { transform-origin: top left; }

.rotate45 { transform: rotate(45deg); }
.rotate90 { transform: rotate(90deg); }
