// Overflow


.visibility-hidden { visibility: hidden; }
.visibility-visible { visibility: visible; }

.overflow-hidden { overflow: hidden; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-y-hidden { overflow-y: hidden; }

.overflow-visible { overflow: visible; }
.overflow-x-visible { overflow-x: visible; }
.overflow-y-visible { overflow-y: visible; }

.overflow-scroll { overflow: scroll; }
.overflow-x-scroll { overflow-x: scroll; }
.overflow-y-scroll { overflow-y: scroll; }

.ellipsis,
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
