// Tables


table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  font-weight: $table-header-font-weight;
  text-align: left;
  vertical-align: bottom;
}

td { vertical-align: top; }

th,
td {
  line-height: $table-line-height;
  padding: $table-padding-top $table-padding-x $table-padding-bottom;
}


// Table Styles

.table-bordered {
  border: 1px solid rgba($black, $opacity-2);
  border-collapse: collapse;

  th,
  td {
    border: 1px solid rgba($black, $opacity-2);
  }

  th {
    border-bottom: 2px solid rgba($black, $opacity-2);
  }
}

.table-striped {

  tr:nth-child(even) {
    background-color: rgba($black, $opacity-2);
  }
}
