// Z Index


@for $i from 0 through $z-index-loop {
    $z: ($i * 100);

    .z-index-#{$i} {
        z-index: $z;
    }
    .z#{$i}{
        z-index: $z;
    }

}

@for $i from 1 through $z-index-loop {
    $zn: ($i * -100);

    .z-index-#{$i}-negative {
        z-index: $zn;
    }
    .zn#{$i} {
        z-index: $zn;
    }
}
